
.introduce {
    display: grid;
    grid-template-columns: repeat(2, auto);
}
.data-image>img{
	height: 200px;
	object-fit: cover;
}
.news-data-item>img{
	background: #ccc;
	height: 100px;
}

/*menu */
.menu-list{
	margin-top: 10px;
}
.menu-title>p{
	color: #bdb76f;
	border-bottom: 1px solid #ccc;
}
.menu>li{
	list-style: none;
}
.menu-item>li>a{
	font-size: 14px;
	color: #322f2f;
	text-decoration: none;
}
.menu-item>li>a:hover{
	color: #322f2f;
}
.phan-trang-item{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #322f2f;
	display: flex;
	align-items: center;
	text-align: center;
	margin-right: 20px;
}
.phan-trang-item>a{
    color: #fff;
}
/* lien he */
.contact-item+.contact-item{
	margin: 20px 0;
}
.contact-item-list{
	color: #000;
	font-weight: 600;
}
.contact-item>p{
	font-size: 15px;

}
.contact-item-list>span{
	color: #aac;
	font-size: 13px;
	font-weight: 500;
}

.introduce-bookmark-shadow {
	list-style: none;	
}

.introduce-bookmark-shadow li {
	text-align: left;
}

.introduce-bookmark-shadow li a {
	color: #42C2FF;
}

.introduce-bookmark-shadow li ul {
	list-style: none;
}

@media screen and (max-width: 800px) {

	/* .row {
		flex-direction: column !important;
	} */
}
