:root {
	--bckgr__color1: #E3CAA5;
	--bckgr__color2: #CEAB93;
	--bckgr__color3: #EEEDDE;
	--bckgr__color4: #084594;
	--bckgr__color5: #42C2FF;
	--bckgr__color6: #f8f8f8;
	--bckgr__color7: #488FB1;
	--navbar__color1: #185581;
	--fb__clr: #4267B2;
	--insta__clr: #833AB4;
	--youtube__clr: #FF0000;
	--twitter__clr: #1DA1F2;
	--bg__clr: linear-gradient(#355c7d, #6c5b7b, #c06c84);
	--item__clr: #414141;
	--title-clr: darkkhaki;
}

* {
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
}

body{

}
p{
	margin-bottom: 0 !important;
}
.navbar{
	background: var(--bg__clr) !important;
	position: fixed !important;
	width: 100%;
	z-index: 10000 !important;
	top: 0;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.active {
	display: block !important;
	color: white !important;
}
.home ,.

/* slide */
.slide{
}
.container-fluid{
	padding: 0 !important;
}
/* home  */
.home-introduce{
	margin: 0 auto;
}
.home-introduce__item{
	margin-bottom: 30px;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.introduce-image{
	padding-top: 7px;
}
.introduce-image img{
	width: 100%;
	height: 220px;
	object-fit: cover;
	border-radius: 20px 20px 20px 0;
	padding-top: 7px;
}
.introduce-review{
	background-color: var(--item__clr);
	width: 100%;
	text-align: center;
	border-bottom-right-radius: 20px ;
	border-bottom-left-radius: 20px ;
	margin-bottom: 15px;
}
.introduce-content{

}
.introduce-review__title{
	color: var(--title-clr);
	padding-top: 5px;
}
.introduce-review__title>p{
	margin: 5px 0;
	font-size: 15px;
	font-weight: 550;
}
.introduce-review__msg{
	padding: 5px 0;
	line-height: 1.5;
	color: #888;
}
.introduce-review__msg>p{
	font-size: 12px;
	padding: 0px 10px;
    display: -webkit-box;
    max-height: 4rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-height: 1.2rem;
}
.navbar-dark .navbar-nav .nav-link{
	font-size: 14px !important;
}
.form-control, .btn{
	font-size: 0.8rem;
}
/* dich vu van chuyen */
.home-service{
	margin: 100px auto;
}
.home-service-img{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}
.home-service-img img{
	width: 70%;
	height: auto;
	object-fit: cover;
}
.home-service__item{
	height: 100%;
	margin-top: 50px;
	background-color: #B8B8FA;
	padding: 5px 15px;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	border-radius: 10px;
}
.home-service__item-title p{
	font-size: 20px;
	color: #B8860B;
	padding: 10px 0;
}
.item-image{
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
}
.item-image img{
	width: 100%;
	height: 220px;
	object-fit: cover;

}
.item-review>div{
	text-align: left;
}
.item-review__title>p{
	font-size: 15px;
	font-weight: 550;
}
.item-review{
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	padding: 5px;
	border-radius: 10px;
	margin-bottom: 10px;
	margin-top: 5px;
}
.item-review__msg>p{
	font-size: 12px;
	display: -webkit-box;
	max-height: 3.2rem;
   -webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	-webkit-line-clamp: 2;
	line-height: 1.6rem;
}

.footer {
	background: var(--bg__clr);
	}
.footer__item{

}
.footer-ship {
	background: antiquewhite;
	padding: 20px 10px;
}
i{
	font-size: 40px;
	margin-right: 5px;
}
/* .footer-ship .footer-ship-list {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(5,auto);
	justify-items: center;
	gap: 10px;
	width: 100%;
} */
.footer__item{
	display: flex;
	align-items: center;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	margin-bottom: 20px;
	padding: 30px 0;
}
.footer-ship .footer-ship-list .footer__item strong {
	font-size: 1.3rem;
}
.home-introduce__item{
	margin: 10px 5px;
}
.footer-ship .footer-ship-list{
	text-align: center;
}
.footer__item p {
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.5px;
	padding: 0 15px;
}

.dichvu__container {
	border-bottom: 1px solid currentColor;
}

.dichvu__container .dichvu__item ul{
	list-style: none;
}

.dichvu__container .dichvu__item h2 {
	font-size: 1.2rem;
	font-weight: 700;
	color: cornsilk;
}

.dichvu__container .dichvu__item ul li a {
	text-decoration: none;
	transition: 0.5s;
	color: #fff;
	font-size:0.8rem;
}
.dichvu__container .dichvu__item ul li a:hover {
	
}

.contact__container {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.contact__container .noidung > div > img {
	width: 120px;
} 

.contact__container .noidung .noidung-contact .infor {
	list-style: none;
}
.contact__container .noidung .noidung-contact span{
	color: #f8f8f8;
	font-size: 1rem;
	text-align: left;
}
.contact__container .noidung-link .noidung-menu {
	display: flex;
	justify-content: space-around;
}

.contact__container .noidung-link ul {
	list-style: none;
}

.contact__container .noidung-link ul li {
	padding: 10px;
}

.contact__container .noidung-link ul li a {
	color: #fff;
	font-size: 1.4rem;
}

.contact__container .social-media .social-icon {
	display: flex;
	list-style: none;
}

.contact__container .social-media .social-icon > li {
	padding-right: 10px;
}

.contact__container .social-media .social-icon > li > a {
	color: #f8f8f8;
	font-size: 1.2rem;
}

.contact__container .noidung-link .noidung-menu a{
	font-size: 1.2rem;
	color: #f8f8f8;
}
.fa-facebook:hover {
	color: var(--fb__clr);
}

.fa-twitter:hover {
	color: var(--twitter__clr);
}

.fa-instagram:hover {
	color: var(--insta__clr);
}

.fa-youtube:hover {
	color: var(--youtube__clr);
}

.list-mini {
	list-style: none;
}

.list-mini a {
	color: currentColor;
}

.noidung-contact .infor li span{
	font-size: 1rem;
}

.news-data-item{
	position: relative;
}
.news-data-item>img{
	background: #ccc;
	height: 100px;
}

/*menu */
.menu-list{
	margin-top: 10px;
	text-align: center;
}
.menu-title>p{
	color: #bdb76f;
	border-bottom: 1px solid #ccc;
}
.menu>li{
	list-style: none;
}
.menu-item>li>a{
	font-size: 14px;
	color: #322f2f;
	text-decoration: none;
}
.menu-item>li>a:hover{
	color: #322f2f;
}
.phan-trang-item{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #ccc;
	display: flex;
	align-items: center;
	text-align: center;
	margin-right: 10px;
}


.introduce {
    margin-top: 100px;
}

.data-image-advise{
	height: 200px;
	width: 100%;
}
.data-image-advise>img{
	height: 100%;
	object-fit: cover;
	width: 100%;
}
.data-note >a{
	color: var(--title-clr);
	font-size: 16px;
	margin: 10px 16px ;
	font-weight: 550;
	width: 90%;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}
.data-note >p{
	color: var(--title-clr);
	font-size: 16px;
	margin: 10px 16px ;
	font-weight: 550;
	width: 90%;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}
.data-title >p{
	color: #888;
	font-size: 13px;
	padding: 5px;
    display: -webkit-box;
    max-height: 4rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-height: 1.2rem;
}
.advise-data-item{
	position: relative;
}
.buttonclick{
	position: absolute;
	top:  200px;
	left: 90px;
	visibility: hidden;
}
.buttonclick2{
	position: absolute;
	top:  200px;
	left: 90px;
	visibility: hidden;
}
.buttonclick,.buttonclick2{
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px !important;
}

.news-data-item:hover .buttonclick{
	visibility: unset;
	animation: dichuyen .5s forwards;
}
.advise-data-item:hover .buttonclick2{
	visibility: unset;
	animation: dichuyen .5s forwards;
}
@keyframes dichuyen{
	from{
		top: 200px;
	}
	to{
		top: 120px;
	}
}
.advise-data-item,.news-data-item{
	background: var(--item__clr);
	padding: 2px;
	margin: 5px;
	border: 2px solid #fff;
	border-radius: 10px;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.news-data-item>img{
	background: #ccc;
	height: 100px;
}

/*menu */
.menu-list{
	margin-top: 10px;
}
.menu-title>p{
	border-bottom: 1px solid #ccc;
}
.menu>li{
	list-style: none;
}
.menu-item>li>a{
	font-size: 14px;
	color: #322f2f;
	text-decoration: none;
}
.menu-item>li>a:hover{
	color: #322f2f;
}
.phan-trang-item{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #322f2f;
	display: flex;
	align-items: center;
	text-align: center;
	margin-right: 20px;
}
.phan-trang-item>a{
    color: #fff;
}
/* lien he */
.contact-item+.contact-item{
	margin: 20px 0;
}
.contact-item-list{
	color: #000;
	font-weight: 600;
}
.contact-item>p{
	font-size: 15px;

}
.contact-item-list>span{
	color: #aac;
	font-size: 13px;
	font-weight: 500;
}

.introduce-bookmark-shadow {
	list-style: none;
	margin-top: 10px;	
}

.introduce-bookmark-shadow li {
	text-align: left;
	animation: translateX 3s;
	padding: 10px 0;
}
.introduce-bookmark-shadow li a{
	color: var(--item__clr);
	text-decoration: none;
}

.introduce-bookmark-shadow li a:hover{
	animation: dichuyenli ease-in .3s forwards;
	color: #322f2f;
}
@keyframes dichuyenli{
	from{
		margin-left: 0;
	}
	to{
		margin-left: 50px;
	}
}
.introduce-bookmark-shadow li ul {
	list-style: none;
}

@media screen and (max-width: 800px) {

	/* .row {
		flex-direction: column !important;
	} */
}

/*themmm   */